.container {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textcontainer {
    max-width: 50vw;
}

.heroContent h2 {
    font-size: 64px;
}

.heroContent p {
    font-size: 32px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.emptydiv {
    height: 80vh;
    width: 50vw;
}