.contact {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h2 {
    font-size: 48px;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}

.input textarea {
    width: 30vw;
    height: 20vh;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 16px;
}

.input input {
    width: 30vw;
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 16px;
}

.input label {
    width: 30vw;
    color: grey;
    padding-top: 1rem;
    padding-bottom: 5px;
}

.contact button {
    margin: 2rem;
    width: 10rem;
    background-color: #d30062;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contact button:hover {
    background-color: #005bb5;
}