.container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.textcontainer h1 {font-size: 48px;}
.textcontainer p {font-size: 20px;}

.emptydiv {
    height: 80vh;
    width: 60vw;
}