{{define "content"}}
<div class="contact">
    <h1>{{.SiteConfig.PageDetails.contact.Description}}</h1>
    <p>Email me at: {{.SiteConfig.PersonalDetails.Email}}</p>

    <div class="contact-form">
        <form action="#" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />

            <label for="message">Message</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Send</button>
        </form>
    </div>
</div>
{{end}}
